doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../css/normalize.css')
    link(rel='stylesheet', href='../css/animate.css')
    link(rel='stylesheet', href='../css/swiper.css')
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/responsive.css')
    //
      <link href="http://allfont.ru/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css">
      <link href="http://allfont.ru/allfont.css?fonts=garamond" rel="stylesheet" type="text/css">
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    link(rel='shortcut icon', href='../favicon.png', type='image/png')
    title Vladimir Ushakov | Web Developer
    script(src='../js/jquery.js')
    script(src='../js/swiper.js')
    // <script src="js/swiper.jquery.min.js"></script>
    // <script src="js/swiper.jquery.umd.min"></script>
    script(src='../js/modernizr.js')
    script(src='../js/main.js')
  body#body
    header.header
      ul.nav
        li.nav-element
          a(href='../en/index') ABOUT
        li.nav-element.vertical-bar  |
        li.nav-element
          a.selected(href='../en/portfolio') MY WORKS
      ul.lang
        li.nav-element
          a.selected(href='../en/portfolio') ENG
        li.nav-element.vertical-bar  |
        li.nav-element
          a(href='../portfolio') РУС
      .ledmessage
        p.dialog-msg.empty-click MISSED IT!
        p.laptopMsg.dialog-msg WORKING ENTOURAGE!
        p.coffeeMsg.dialog-msg COFFE IS READY!
        p.phoneMsg.dialog-msg KEEP IN TOUCH!
        p.mockupMsg.dialog-msg LETS GO!
        p.cameraMsg.dialog-msg IN BETWEEN...
        p.notebookMsg.dialog-msg USE NOTEBOOK
        p.bambooMsg.dialog-msg LETS PROTOTYPE
        p.dialog-msg.quoteAuthor NOPE!
        p.profileMsg.dialog-msg CARPE DIEM!
    .left-wing
      img(src='../img/left-wing.png', alt='')
    .general-container-portfolio
      .swiper-container
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          #slide1.swiper-slide.slide1(style='background-image:url(../img/slide1.jpg)')
            .button-link
              a(href='http://mentelibera.ru/portfolio/andrMVC/main', target='_blank') OPEN THE SITE
          #slide2.swiper-slide.slide2(style='background-image:url(../img/slide2.jpg)')
            .button-link
              a(href='http://mentelibera.ru/portfolio/photo/index.php', target='_blank') OPEN THE SITE
          #slide3.swiper-slide.slide3(style='background-image:url(../img/slide3.jpg)')
            .button-link
              a(href='http://mentelibera.ru/portfolio/tepo/index.html', target='_blank') OPEN THE SITE
          #slide4.swiper-slide.slide4(style='background-image:url(../img/slide4.jpg)')
            .button-link
              a(href='http://kvant-energy.ru', target='_blank') OPEN THE SITE
          #slide5.swiper-slide.slide5(style='background-image:url(../img/slide5.jpg)')
            .button-link
              a(href='http://primedtl.ru', target='_blank') OPEN THE SITE
        // If we need pagination
        .swiper-pagination
        //
          If we need navigation buttons
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        //
          If we need scrollbar
          <div class="swiper-scrollbar"></div>
      // Tab panel
      #tab-panels-wrapper
        #tab-panel-container-1.tab-panel-container.tab-panel-1
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-1.tab-active
                  a(href='#tab1info') Project
                li.nav-tab.nav-tab-1
                  a(href='#tab2info') Stack
                li.nav-tab.nav-tab-1
                  a(href='#tab3info') Initial code
                li.nav-tab.nav-tab-1
                  a(href='#tab4info') Comments
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-1.tab-content-active(id='')
                  | Andriana Style supposed to be a portal for stylists. The main niche is wedding make-up and hair styling. This project was the first attempt after learning html and css. Later on, I made it MVC-like on the server with PHP and MySQL. Its still in the process and the next step is to make the code cleaner and less clumsy
                .tab-content-element.tab-content-element-1(id='') HTML5/CSS3 (with Media Queries), JavaScript (JQuery), PHP5, MySQL
                .tab-content-element.tab-content-element-1(id='')
                  a(target='_blank', href='https://github.com/vzxxl/Portfolio-website-StylistPortal-MVC-implement') Open on GITHUB
                .tab-content-element.tab-content-element-1(id='')
                  | Im making this project on my own. I barely use extended libraries on the front-end and mostly try to write scripts by myself. As for the server, all code is made by myself after completing the course of PHP. I use PDO to connect the database. The main goal was to make an MVP as soon as possible so the code might seem not so eloquent. But I deliberately go forward to not stop for too long. After its done I will definitely change some parts to be more concise.
        #tab-panel-container-2.tab-panel-container.tab-panel-2
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-2.tab-active
                  a(href='#tab1info') Project
                li.nav-tab.nav-tab-2
                  a(href='#tab2info') Stack
                li.nav-tab.nav-tab-2
                  a(href='#tab3info') Initial code
                li.nav-tab.nav-tab-2
                  a(href='#tab4info') Comments
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-2.tab-content-active(id='')
                  | This one is a personal site for a photographer. I also made an english version as long as some clients might not speak russian. Also this site is made adaptive so for the mibile users the menu and other parts becoe more convinient to read or tap.
                .tab-content-element.tab-content-element-2(id='') HTML5/CSS3 (with Media Queries), JavaScript (JQuery), PHP5
                .tab-content-element.tab-content-element-2(id='')
                  a(target='_blank', href='https://github.com/vzxxl/Regina-s-new-site-made-from-scratch') Open on GITHUB
                .tab-content-element.tab-content-element-2(id='')
                  | This site is ready to use. In the nearest future I plan to connect it to WordPress to make it more editable for any user and to start a blog
        #tab-panel-container-3.tab-panel-container.tab-panel-3
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-3.tab-active
                  a(href='#tab1info') Project
                li.nav-tab.nav-tab-3
                  a(href='#tab2info') Stack
                li.nav-tab.nav-tab-3
                  a(href='#tab3info') Initial code
                li.nav-tab.nav-tab-3
                  a(href='#tab4info') Comments
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-3.tab-content-active(id='')
                  | Painting Technologies is a site to represent a company that is specializing in wooden houses painting.
                .tab-content-element.tab-content-element-3(id='') HTML5/CSS3, JavaScript (JQuery), PHP5, Photoshop animation
                .tab-content-element.tab-content-element-3(id='')
                  a(target='_blank', href='https://github.com/vzxxl/portfolio-house-spray-painting') Open on GITHUB
                .tab-content-element.tab-content-element-3(id='')
                  | I made it from scratch after creating a simple mockup in photoshop. It was the time when I was learning mark-up and styling. So it might seem not really sophisticated. I also wrote a script for the slider and animated some parts with Animate JS and WOW.js
        #tab-panel-container-4.tab-panel-container.tab-panel-4
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-4.tab-active
                  a(href='#tab1info') Project
                li.nav-tab.nav-tab-4
                  a(href='#tab2info') Stack
                li.nav-tab.nav-tab-4
                  a(href='#tab3info') What I made
                li.nav-tab.nav-tab-4
                  a(href='#tab4info') Comments
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-4.tab-content-active(id='')
                  | Kvant-Energy is made for the company that sales hight voltage equipment. The site was already made on Drupal CMS when I joined the projct. I was in charge of making multiple changes including html/css manipulations, changing taxonomy in drupal, making content including pictures and texts, making SEO.
                .tab-content-element.tab-content-element-4(id='') HTML/CSS, PHP5, CMS Drupal 7 
                .tab-content-element.tab-content-element-4(id='')
                  a(href='http://www.kvant-energy.ru/vysokovoltnoe-oborudovanie') "Высоковольтное оборудование"
                  br
                  a(href='http://www.kvant-energy.ru/vysokovoltnoe-oborudovanie') "Арматура для ВЛ и СИП"
                  br
                  a(href='http://www.kvant-energy.ru/vysokovoltnoe-oborudovanie') "Кабельно-проводниковая продукция"
                  br
                  a(target='_blank', href='http://www.kvant-energy.ru/vysokovoltnoe-oborudovanie') "Для инженерного строительства"
                  br
                  a(target='_blank', href='http://www.kvant-energy.ru/video') Учебное видео
                  br
                .tab-content-element.tab-content-element-4(id='')
                  | The company had troubles working with freelancers before so they were trying to find someone who would work in the office and do wide variety of things on the site. I accepted the offer but after few days I make them realise that I will do all the stuff remotely and completely satisfied their needs. It was a successful example of working with people who don't have much competence in web-development and have blurry demands but still understanding their needs correctly.
        #tab-panel-container-5.tab-panel-container.tab-panel-5
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-5.tab-active
                  a(href='#tab1info') Project
                li.nav-tab.nav-tab-5
                  a(href='#tab2info') Stack
                li.nav-tab.nav-tab-5
                  a(href='#tab3info') Code
                li.nav-tab.nav-tab-5
                  a(href='#tab4info') Comments
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-5.tab-content-active(id='')
                  | Prime Detailing - is an official webpage of commercial firm dealing with car care
                .tab-content-element.tab-content-element-5(id='') HTML5/CSS3, PHP5, WP for blog section 
                .tab-content-element.tab-content-element-5(id='') Initial code has a restricted access
                .tab-content-element.tab-content-element-5(id='')
                  | I made this site absolutely from scratch using Bootstrap 3 grid
      // wrapping all the tab-panels
    // general-container-portfolio
    .right-wing
      img(src='../img/right-wing.png', alt='')
    footer.footer
      .footer-wrapper
        h2.title Drop me a line!
        ul.contacts
          li.contact
            a.facebook(href='http://www.facebook.com/im.mentelibera', target='_blank')
              i.fa.fa-facebook-square(aria-hidden='true')
              |   /im.mentelibera
          li.contact
            a.linkedin(href='https://ru.linkedin.com/in/vladimir-ushakov', target='_blank')
              i.fa.fa-linkedin-square(aria-hidden='true')
              |   linkedIn
          li.contact
            a.phone(href='https://spb.hh.ru/resume/6dd5171dff0351664f0039ed1f327530377537', target='_blank')
              i.fa.fa-circle(aria-hidden='true')
              |   HeadHunter
    script(src='../js/dialog.js')
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter37745475 = new Ya.Metrika({
      id:37745475,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/37745475', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
    script(src='../js/swiper-custom.js')
    script(src='../js/swiper-tabpanel-connector.js')
