doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/swiper.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/responsive.css')
    //
      <link href="http://allfont.ru/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css">
      <link href="http://allfont.ru/allfont.css?fonts=garamond" rel="stylesheet" type="text/css">
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    link(rel='shortcut icon', href='img/favicon.png')
    title Владимир Ушаков | Персональная страница
    script(src='js/jquery.js')
    script(src='js/swiper.js')
    // <script src="js/swiper.jquery.min.js"></script>
    // <script src="js/swiper.jquery.umd.min"></script>
    script(src='js/modernizr.js')
    script(src='js/main.js')
  body#body
    header.header
      ul.nav
        li.nav-element
          a(href='index') КТО Я
        li.nav-element.vertical-bar  |
        li.nav-element
          a.selected(href='portfolio') ВЕБ
        li.nav-element.vertical-bar  | 
        li.nav-element
          a(href="translator") ПЕРЕВОД
      ul.lang
        li.nav-element
          a(href='en/portfolio') ENG 
        li.nav-element.vertical-bar  |
        li.nav-element
          a.selected(href='portfolio') РУС
      .ledmessage
        p.dialog-msg.empty-click Мимо!
        p.laptopMsg.dialog-msg АНТУРАЖ ПРОЦЕССА!
        p.coffeeMsg.dialog-msg КОФЕ СВАРЕН!
        p.phoneMsg.dialog-msg СВЯЗЬ НАЛАЖЕНА!
        p.mockupMsg.dialog-msg ПОЕХАЛИ!
        p.cameraMsg.dialog-msg В ПЕРЕРЫВАХ...
        p.notebookMsg.dialog-msg КОНСПЕКТЫ - ЭТО ПРАКТИЧНО!
        p.bambooMsg.dialog-msg ПРОЕКТИРУЕМ!
        p.emblemMsg.dialog-msg ЭМБЛЕМУ ПОЗАИМСТВОВАЛ, НЕ СПРОСИВ *confess*
        p.dialog-msg.quoteAuthor НА САМОМ ДЕЛЕ ЛЕГКО!
        p.profileMsg.dialog-msg CARPE DIEM!
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.navHeaderCollapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-collapse.navHeaderCollapse(aria-expanded='true', style='')
        ul.nav-collapsed.navbar-nav
          li
            a(href='index') КТО Я
          li
            a(href='portfolio') ВЕБ
          li
            a(href='translator') ПЕРЕВОД
    .left-wing
      img(src='img/left-wing.png', alt='')
    .general-container-portfolio
      .swiper-container
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          #slide1.swiper-slide.slide1(style='background-image:url(img/slide1.jpg)')
            .button-link
              a(href='http://leanap.ru/side/primedtl.ru/index.html', target='_blank') ПЕРЕЙТИ НА САЙТ
          #slide2.swiper-slide.slide2(style='background-image:url(img/slide2.jpg)')
            .button-link
              a(href='http://kvantenergy.ru', target='_blank') ПЕРЕЙТИ НА САЙТ
          #slide3.swiper-slide.slide3(style='background-image:url(img/slide3.jpg)')
            .button-link
              a(href='http://leanap.ru/side/photosite/index.php', target='_blank') ПЕРЕЙТИ НА САЙТ
          #slide4.swiper-slide.slide4(style='background-image:url(img/slide4.jpg)')
            .button-link
              a(href='http://leanap.ru/side/stylists/index.php', target='_blank') ПЕРЕЙТИ НА САЙТ
          #slide5.swiper-slide.slide5(style='background-image:url(img/slide5.jpg)')
            .button-link
              a(href='http://leanap.ru/side/painting/index.html', target='_blank') ПЕРЕЙТИ НА САЙТ
        // If we need pagination
        .swiper-pagination
        //
          If we need navigation buttons
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        //
          If we need scrollbar
          <div class="swiper-scrollbar"></div>
      // Tab panel
      #tab-panels-wrapper
        #tab-panel-container-4.tab-panel-container.tab-panel-4
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-4.nav-with-link.tab-active
                  a(href='#tab1info') Проект
                li.nav-tab.nav-tab-4
                  a(href='#tab2info') Стек технологий
                li.nav-tab.nav-tab-4
                  a(href='#tab3info') Исходный код
                li.nav-tab.nav-tab-4
                  a(href='#tab4info') Комментарий
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-4.tab-content-active(id='')
                  | Сайт Andriana Style задумывался как портал для продвижения специалистов по визажу - искусству создания "выигрышного образа" засчет сочетания трендовых техник макияжа и прически. Основная ниша проекта - свадьбы. Данный проект для меня был своего рода пробой пера после освоения курса html/css. Позднее я использовал и другие технологии. Сайт пока находится в процессе разработки
                br
                .tab-content-element.tab-content-element-4(id='') HTML5/CSS3 (с использованием Media Queries), JavaScript (JQuery), PHP5, MySQL
                .tab-content-element.tab-content-element-4(id='')
                  a(target='_blank', href='https://github.com/vzxxl/Portfolio-website-StylistPortal-MVC-implement') Открыть на GITHUB
                .tab-content-element.tab-content-element-4(id='')
                  | Проект полностью написан с нуля, а макет был накидан 'от руки' за вечер в фотошопе. Поэтому сайт пок не так красив, а код местами может показаться не до конца оптимизированным. Я это осознаю, но сознательно и временно пропускаю эти недочеты, чтобы не останавливаться надолго и получить работающий MVP в короткий срок - это была основная цель изначально. Проект находится в стадии разработки. В последнее время я переписываю его с учетом новых знаний, а именно, освоенной базы языка PHP и паттерна MVC. Для подключения к базе данных я использовал расшиение PDO.
        #tab-panel-container-3.tab-panel-container.tab-panel-3
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-3.nav-with-link.tab-active
                  a(href='#tab1info') Проект
                li.nav-tab.nav-tab-3
                  a(href='#tab2info') Стек технологий
                li.nav-tab.nav-tab-3
                  a(href='#tab3info') Исходный код
                li.nav-tab.nav-tab-3
                  a(href='#tab4info') Комментарий
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-3.tab-content-active(id='')
                  | Данный проект задумывался как личная страница фотографа. Поскольку клиенты для данной нишы могут быть не только русскогоговорящими, я реализовал английскую версию сайта. Кроме того, я реализовал определенную адаптивность для пользователей мобильных устройств (используя Media Queries)
                br
                .tab-content-element.tab-content-element-3(id='') HTML5/CSS3 (с использованием Media Queries), JavaScript (JQuery), PHP5
                .tab-content-element.tab-content-element-3(id='')
                  a(target='_blank', href='https://github.com/vzxxl/Regina-s-new-site-made-from-scratch') Открыть на GITHUB
                .tab-content-element.tab-content-element-3(id='')
                  | В целом, сайт готов к эксплуатации и в ближайшее время появится в сети. Ближайшие доработки - посадка на CMS с удобной админ-панелью, например, WordPress
        #tab-panel-container-5.tab-panel-container.tab-panel-5
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-5.nav-with-link.tab-active
                  a(href='#tab1info') Проект
                li.nav-tab.nav-tab-5
                  a(href='#tab2info') Стек технологий
                li.nav-tab.nav-tab-5
                  a(href='#tab3info') Исходный код
                li.nav-tab.nav-tab-5
                  a(href='#tab4info') Комментарий
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-5.tab-content-active(id='')
                  | Технологии Покраски - это проект, который задумывался как многостраничный сайт компании по покраске деревянных элементов (преимущественно при постройке загородных коттеджей). Это был один из первых придуманных проектов для отработки навыков.
                br
                .tab-content-element.tab-content-element-5(id='') HTML5/CSS3, JavaScript (JQuery), PHP5
                .tab-content-element.tab-content-element-5(id='')
                  a(target='_blank', href='https://github.com/vzxxl/portfolio-house-spray-painting') Открыть на GITHUB
                .tab-content-element.tab-content-element-5(id='')
                  | Сайт написан полностью с нуля. Макет был создан мной на бумаге, затем в фотошопе. Все скрипты написаны собственноручно, поэтому могут показаться немного запутанными и неоптимизированными. Тем не менее, я старался по максимуму закомментировать непонятные места.
        #tab-panel-container-2.tab-panel-container.tab-panel-2
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-2.nav-with-link.tab-active
                  a(href='#tab1info') Проект
                li.nav-tab.nav-tab-2
                  a(href='#tab2info') Стек технологий
                li.nav-tab.nav-tab-2
                  a(href='#tab3info') Сделанные разделы
                li.nav-tab.nav-tab-2
                  a(href='#tab4info') Комментарий
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-2.tab-content-active(id='')
                  | Kvant-Energy - это первый коммерческий заказ. Сайт был написан на CMS Drupal. но требовал многочисленных доработок и частичного изменения дизайна. Моя задача состояла в корректировках и доработках сайта, его наполнении и частичной СЕО-оптимизации.
                br
                .tab-content-element.tab-content-element-2(id='') HTML/CSS, PHP5, CMS Drupal 7 
                .tab-content-element.tab-content-element-2(id='')
                  a(href='http://www.kvant-energy.ru/vysokovoltnoe-oborudovanie') "Высоковольтное оборудование"
                  br
                  a(href='http://www.kvant-energy.ru/vysokovoltnoe-oborudovanie') "Арматура для ВЛ и СИП"
                  br
                  a(href='http://www.kvant-energy.ru/vysokovoltnoe-oborudovanie') "Кабельно-проводниковая продукция"
                  br
                  a(target='_blank', href='http://www.kvant-energy.ru/vysokovoltnoe-oborudovanie') "Для инженерного строительства"
                  br
                  a(target='_blank', href='http://www.kvant-energy.ru/video') Учебное видео
                  br
                .tab-content-element.tab-content-element-2(id='')
                  | Я менял элементы дизайна (фоны страниц, цвета элементов, размеры), используя HTML/CSS, создавал новые страницы (например, "Учебныое видео"), дополнял таксономию Drupal новыми таксонами и полностью их заполнял, включая картинки, таблицы и тексты. Вы можете перейти на них во вкладке "Сделанные разделы"
        #tab-panel-container-1.tab-panel-container.tab-panel-1
          .tab-panel
            .panel-heading.clearfix
              ul.nav-tabs
                li.nav-tab.nav-tab-1.nav-with-link.tab-active
                  a(href='#tab1info') Проект
                li.nav-tab.nav-tab-1
                  a(href='#tab2info') Стек технологий
                li.nav-tab.nav-tab-1
                  a(href='#tab3info') Исходный код
                li.nav-tab.nav-tab-1
                  a(href='#tab4info') Комментарий
            .panel-body
              .tab-content
                .tab-content-element.tab-content-element-1.tab-content-active(id='')
                  | Prime Detailing - проект коммерческой фирмы по автоуходу
                br
                .tab-content-element.tab-content-element-1(id='') HTML5/CSS3, PHP5, WP для блога 
                .tab-content-element.tab-content-element-1(id='') Исходный код закрыт
                .tab-content-element.tab-content-element-1(id='')
                  | Написан полностью с нуля с приминением сетки Bootstrap
      // wrapping all the tab-panels
    // general-container-portfolio
    .right-wing
      img(src='img/right-wing.png', alt='')
    footer.footer
      .footer-wrapper
        h2.title Как со мной связаться
        ul.contacts
          li.contact
            a.facebook(href='http://www.facebook.com/en.mentelibera', target='_blank')
              i.fa.fa-facebook-square(aria-hidden='true')
              |   /im.mentelibera
          li.contact
            a.linkedin(href='https://ru.linkedin.com/in/vladimir-ushakov', target='_blank')
              i.fa.fa-linkedin-square(aria-hidden='true')
              |   linkedIn
          li.contact
            a.phone(href='https://spb.hh.ru/resume/26a78bbaff035163320039ed1f77706b755541', target='_blank')
              i.fa.fa-circle(aria-hidden='true')
              |   HeadHunter
    script(src='js/dialog.js')
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter37745475 = new Ya.Metrika({
      id:37745475,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/37745475', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
    script(src='js/swiper-custom.js')
    script(src='js/swiper-tabpanel-connector.js')
