doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/keyframes.css')
    link(rel='stylesheet', href='css/before-after.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/responsive.css')
    //
      <link href="http://allfont.ru/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css">
      <link href="http://allfont.ru/allfont.css?fonts=garamond" rel="stylesheet" type="text/css">
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    link(rel='shortcut icon', href='favicon.png', type='image/png')
    title Владимир Ушаков | Персональная страница
    script(src='js/jquery.js')
    script(src='js/before-after.min.js')
    script(src='js/modernizr.js')
    script(src='js/simple-skillbar')
    script(src='js/main.js')
  body#body
    header.header
      ul.nav
        li.nav-element
          a(href='index') КТО Я
        li.nav-element.vertical-bar |
        li.nav-element
          a(href='portfolio') ВЕБ
        li.nav-element.vertical-bar |
        li.nav-element
          a.selected(href='translator') ПЕРЕВОД
      ul.lang
        li.nav-element
          a(href='en/index') ENG
        li.nav-element.vertical-bar |
        li.nav-element
          a.selected(href='index') РУС
      .ledmessage
        p.dialog-msg.empty-click Мимо!
        p.laptopMsg.dialog-msg АНТУРАЖ ПРОЦЕССА!
        p.coffeeMsg.dialog-msg КОФЕ СВАРЕН!
        p.phoneMsg.dialog-msg СВЯЗЬ НАЛАЖЕНА!
        p.mockupMsg.dialog-msg ПОЕХАЛИ!
        p.cameraMsg.dialog-msg В ПЕРЕРЫВАХ...
        p.notebookMsg.dialog-msg КОНСПЕКТЫ - ЭТО ПРАКТИЧНО!
        p.bambooMsg.dialog-msg ПРОЕКТИРУЕМ!
        p.emblemMsg.dialog-msg ЭМБЛЕМУ ПОЗАИМСТВОВАЛ, НЕ СПРОСИВ *confess*
        p.dialog-msg.quoteAuthor "ГЛАВНОЕ ВЕРИТЬ! :)"
        p.profileMsg.dialog-msg CARPE DIEM!
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.navHeaderCollapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-collapse.navHeaderCollapse.collapse(aria-expanded='true', style='')
        ul.nav-collapsed.navbar-nav
          li
            a(href='index') КТО Я
          li
            a(href='portfolio') ВЕБ
          li
            a(href='translator') ПЕРЕВОД
    .left-wing
      img(src='img/left-wing.png', alt='')
    .general-container.general-container-translator
      .profile-pic-container
        img.profile-pic(src='img/profile-pic3.png', alt='vladimir-ushakov')
      .article-area
        //
          <div class="ba-slider">
          <img src="img/before.jpg" alt="">
          <div class="resize">
          <img src="img/after.jpg" alt="">
          </div>
          <span class="handle"></span>
        .translate-btn.translate-btn-us Оригинал статьи
        //
          <div class="choose-article-module">
          <div class="choose-article choose-article-1">1</div>
          <div class="choose-article choose-article-2">2</div>
          </div>
        .article-1
          h1.title-ru
            | Почему так сложно менять плохие привычки? Наш мозг фиксируется на прошлых наградах.
          h1.title-us.invisible Why is breaking bad habits hard? Our brains are biased by past rewards
          .text-ru
            p
              | Исследование института Джона Хопкинса проливает свет на роль дофамина в нашем внимании.
              | Человеческий мозг заточен на вещи, которые хоть раз доставляли нам удовольствие - это открытие, которое может объяснить, почему так сложно отказаться от плохих привычек и выполнять новогодние обещания.
            p
            p
              | В свежем издании Современной Биологии ученые института Джона Хопкинса впервые демонстрируют, что когда люди видят что-то принесшее им наслаждение в прошлом, их мозг вырабатывает большие дозы дофамина, даже если они не замечают, что данный объект непреднамеренно охвачен их вниманием. Результаты исследования предполагают, что мы обладаем гораздо меньшим самообладанием, чем привыкли считать.
            p
            p
              | "У нас нет полного контроля над нашим вниманием", - пояснила руководитель исследовательской группы Сьюзан Кортни, профессор кафедры психологических и церебральных исследований. "Мы не осознаем, что наш прошлый опыт определяет наше внимание к определенным вещам".
              | Именно это может служить причиной того, почему многим людям так сложно вылезти из петли пристрастия и почему сидящие на диете не могут перестать думать о высококаллорийной пище.
              | "Я мог бы выбрать здоровую или вредную еду, но мое внимание так или иначе приковано к фетучини с соусом Альфредо", - говорит Кортни. "Все, что мы склонны замечать, о чем склонны думать и на чем фокусироваться, мы делали в прошлом и были за это как-то награждены.
            p
              | В процессе исследования ученые просили каждого из двадцати участников эксперимента найти среди множества разноцветных объектов на экране компьютера фигуры красного и зеленого цветов. Испытуемые получали по полтора доллара за каждый найденный красный объект и только двадцать пять центов за каждый зеленый. На следующий день каждый из участников эксперимента подключался к прибору позитронно-эмиссионной томографии ( пэт-сканеру) и проходил похожее испытание, но в этот раз основанное на форме объектов, а не их цвете, хотя фигуры до сих пор имели цвет. Никакой денежной награды объявлено не было. Однако когда красные объекты возникали на экране, испытуемые автоматически фокусировались на них, и определенная часть их мозга, связанная с вниманием, наполнялась дофамином, нейромедиаторным веществом, которое, как было ранее доказано, выделяется когда мы получаем определенную награду.
            p
              | Участники эксперимента в конечном счете находили фигуры нужной формы, но только делали это медленнее. Красный цвет, за который они получали награду днем ранее, отвлекал их внимание.
              | "Удивительно здесь то, что людям не была обещана какая-либо плата, и люди эту награды не ждали", - говорит Кортни. "Что-то, связанное с подкреплением в прошлом, вызывает выброс дофамина. Этот стимул становится встроенным в систему подкрепления".
              | Некоторые из испытуемых были отвлечены красными фигурами больше других. У них наблюдались самые большие выбросы дофамина, в то время как у тех, кто мог лучше фокусироваться на задании, любой выброс дофамина был приглушен.
              | Говоря по-простому, отвлекающие факторы имели большее значение для людей, склонных к зависимостям и меньшее для людей, умеющий воздерживаться, а так же для людей подавленных и не думающих о какой-либо награде, как сказала Кортни.
            p
              | Выводы исследования наводят на мысль о том, что можно найти возможности фармакологического воздействия и сдерживать эти нейрохимически обусловленные факторы отвлечения - что может стать потенциальной помощью зависимым, сидящим на диете и иным людям с расстройствами поведения.
              | Среди соавторов Кортни кандидат наук Брайан Андерсон, доцент Университета Медицины Хирото Кувабара, профессор Университета Медицины Дин Вонг, бывший научный сотрудник Эмили Джин, доцент кафедры рентгенологии Арман Рамин, доцент Университета Медицины Джеймс Брасик, научный сотрудник и аспирант Нобель Джордж, старший научный сотрудник Борис Фролов и профессор кафедры психологический и церебральных наук Стивен Янтис, который ушел из жизни после борьбы с раком в 2014 году.
            p
              | Когда умер Янтис, Кортни со студентами лаборатории Янтиса остро ощутили, что его исследования должны быть продолжены. Кортни, которую Янтис нанял на работу в институт Джона Хопкинса, взяла на себя его исследовательскую программу и "пристроила" его студентов в своей лаборатории. За последний год их объединенная команда работала над завершением последнего проекта Янтиса, а так же запустила новые исследования, включающие в себя наработки самой Кортни. Ведущий автор этого научного описания Брайан Андерсон - выпускник лаборатории Янтиса и на данный момент работает с Кортни в качестве доктора наук.
            p
              | "Это своего рода вызов, который определил всю карьеру Стивена Янтиса", - говорит Андерсон, который остался в Институте Джона Хопкинса еще на один год, чтобы закончить это исследование и сопутствующие проекты. "Превосходный экспериментатор с интересом к когнитивной неврологии, Стив мог умело изолировать и отследить когнитивный процесс в мозге. Этот проект является отражением того, кем он был как ученый и того влияния, которое он оказал на меня, будучи моим наставником. Это наследие поистине замотивировало всех нас во чтобы то ни стало завершить этот проект".
          .text-us.invisible
            p
              | The human brain is wired to pay attention to previously pleasing things—a finding that could help explain why it's hard to break bad habits or stick to New Year's resolutions.
            p
              | In the new issue of Current Biology, Johns Hopkins University neuroscientists demonstrate for the first time that when people see something associated with a past reward, their brain flushes with dopamine—even if they aren't expecting a reward and even if they don't realize they're paying it any attention. The results suggest we don't have as much self-control as we might think.
            p
              | "We don't have complete control over what we pay attention to," said senior author Susan M. Courtney, a professor in JHU's Department of Psychological and Brain Sciences. "We don't realize our past experience biases our attention to certain things."
            p
              | could be why it's so hard for people to break the cycle of addiction and why dieters keep thinking about fattening food when they're trying to eat better.
            p
              | "I could choose healthy food or unhealthy food, but my attention keeps being drawn to fettuccini Alfredo," Courtney said. "What we tend to look at, think about, and pay attention to is whatever we've done in the past that was rewarded."
            p
              | For their study, the researchers asked 20 participants to find red and green objects on a computer screen filled with different colored objects. Participants got $1.50 for finding red objects and 25 cents for finding green ones. The next day, while brain scans (positron emission tomography, or PET scans) were conducted, researchers asked participants to find certain shapes on the screen. Color no longer mattered and there was no reward involved. But when a red object appeared, participants automatically focused on it and a particular part of their brain involved in attention filled with dopamine, a brain chemical proven to be released when we receive rewards.
            p
              | People in the study found the shapes they were looking for; they were just slower doing it. The previously rewarded "red" distracted them.
            p
              | "What's surprising here is people are not getting rewarded and not expecting a reward," Courtney said. "There's something about past reward association that's still causing a dopamine release. That stimulus has become incorporated into the reward system."
            p
              | Some of the test subjects were more distracted by the previously rewarded red than others. Those who were most distracted had the most elevated dopamine levels while those who were better able to focus on the task at hand appeared to have suppressed any release of dopamine.
            p
              | Generally speaking, distractions tend to be bigger for people prone to addiction and smaller for people who are successful abstainers and people who are depressed and not caring about rewards, Courtney said.
            p
              | The findings suggest there could be a way to pharmaceutically curb these neurochemical distractions—a potential benefit for addicts, dieters, and those with other problem behaviors.
            p
              | Courtney's co-authors are postdoctoral fellow Brian A. Anderson; School of Medicine assistant professor Hiroto Kuwabara; School of Medicine professor Dean F. Wong; former research assistant Emily G. Gean; associate professor of radiology Arman Rahmin; School of Medicine assistant professor James R. Brasic; research and clinical fellow Nobel George; senior clinical research fellow Boris Frolov and Steven Yantis, a professor in the Department of Psychological and Brain Sciences who died of cancer in 2014.
            p
              | When Yantis died, Courtney and students in the Yantis lab felt strongly that his work had to continue. Courtney, who Yantis recruited to Johns Hopkins, took on his research program and "adopted" his students into her lab. Over the past year, their combined teams have worked to finish Yantis' final projects and launch new ones that combine his ideas with Courtney's. This paper's lead author, Brian Anderson, was a graduate student in the Yantis lab and now works for Courtney as a postdoctoral researcher.
            p
              | "This is the kind of challenge that defined the career of Steven Yantis," said Anderson, who stayed at Johns Hopkins for an extra year to finish this study and related projects. "A brilliant experimentalist with interests in cognitive neuroscience, Steve had a real knack for elegantly isolating a cognitive process in the brain. This project is a reflection of who he was as a scientist and the impact that had on me through his mentorship. That legacy really motivated all of us to see this project through."
        // article-1
        // 2nd article
        .article-2.invisible
          h1.title-ru
            | 2 Почему так сложно менять плохие привычки? Наш мозг фиксируется на прошлых наградах.
          h1.title-us.invisible 2 Why is breaking bad habits hard? Our brains are biased by past rewards
          .text-ru
            p
              | 22Исследование института Джона Хопкинса проливает свет на роль дофамина в нашем внимании.
              | Человеческий мозг заточен на вещи, которые хоть раз доставляли нам удовольствие - открытие, которое может объяснить, почему так чложно отказаться от плохих привычек и выполнять новогодние обещания.
            p
            p
              | В свежем издании Современной Биологии ученые института Джона Хопкинса впервые демонстрируют, что когда люди видят что-то принесшее им наслаждение в прошлом, их мозг вырабатывает большие дозы дофамина, даже если они не замечают, что данный объект уже находится в их внимании. Результаты исследования предполагают, что мы обладаем гораздо меньшим самообладанием, чем привыкли считать.
            p
            p
              | "У нас нет полного контроля над нашим вниманием", - пояснила руководитель исследовательской группы Сьюзан Кортни, профессор кафедры психологических и церебральных исследований. "Мы не осознаем, что наш прошлый опыт определяет наше внимание к определенным вещам".
              | Именно это может служить причиной того, почему многим людям так сложно вылезти из петли пристрастия и почему сидящие на диете не могут перестать думать о высококаллорийной пище.
              | "Я мог бы выбрать здоровую или вредную еду, но мое внимание так или иначе приковано к фетучини с соусом Альфредо", - говорит Кортни. "Все, что мы склонны замечать, о чем склонны думать и фокусироваться, мы делали в прошлом и были за это как-то награждены.
            p
              | В процессе исследования ученые просили каждого из двадцати участников эксперимента найти среди множества разноцветных объектов на экране компьютера фигуры красного и зеленого цветов. Испытуемые получали по полтора доллара за каждый найденный красный объект и только двадцать пять центов за каждый зеленый. На следующий день каждый из участников эксперимента подключался к прибору позитронно-эмиссионной томографии (или пэт-сканеру) и проходил похожее испытание, но в этот раз основанное на форме, а не цвете, хотя фигуры так же были цветными. Никакой денежной награды объявлено не было. Однако когда красные объекты возникали на экране, испытуемые автоматически фокусировались на нем, и определенная часть их мозга, связанная с вниманием, наполнялась дофамином, нейромедиаторным веществом, которое, как было ранее доказано, выделяется когда мы получаем определенную награду.
            p
              | Участники эксперимента в конечном счете находили фигуры нужной формы, но только делали это медленнее. Красный цвет, за который они получали награду днем ранее, отвлекал их внимание.
              | "Удивительно здесь то, что людям не было обещанно никакое награждение и люди эту награды не ждали", - говорит Кортни. "Что-то, связанное с подкреплением в прошлом, вызывает выброс дофамина. Этот стимул становится встроенным в систему подкрепления".
              | Некоторые из испытуемых были больше отвлечены под влиянием ранее поощренного красного. У них наблюдались самые большие квыбросы дофамина, в то время как у тех, кто мог лучше фокусироваться на задании, любой выброс дофамина был приглушен.
              | Говоря по-простому, отвлекающие факторы имели большее значение для людей, склонных к зависимостям и меньшее для людей, умеющий воздерживаться, а так же для людей подавленных и не думающих о какой-либо награде, как сказала Кортни.
            p
              | Выводы исследования наводят на мысль о том, что можно найти возможность фармакологически воздействовать и сдерживать эти нейрохимически обусловленные факторы отвлечения - потенциальная помощь зависимым, сидящим на диете и иным людям с расстройствами поведения.
              | Среди соавторов Кортни кандидат наук Брайан Андерсон, доцент Университета Медицины Хирото Кувабара, профессор Университета Медицины Дин Вонг, бывший научный сотрудник Эмили Джин, доцент кафедры рентгенологии Арман Рамин, доцент Университета Медицины Джеймс Брасик, научный сотрудник и аспирант Нобель Джордж, старший научный сотрудник Борис Фролов и профессор кафедры психологический и церебральных наук Стивен Янтис, который ушел из жизни после борьбы с раком в 2014 году.
            p
              | Когда умер Янтис, Кортни со студентами лаборатории Янтиса остро ощутили, что его исследования должны быть продолжены. Кортни, которую Янтис нанял на работу в институт Джона Хопкинса, взяла на себя его исследовательскую программу и "пристроила" его студентов в своей лаборатории. За последний год их объединенная команда работала над завершением последнего проекта Янтиса, а так же запустила новые исследования, включающие в себя наработки самой Кортни. Ведущий автор этого научного описания Брайан Андерсон - выпускник лаборатории Янтиса и на данный момент работает с Кортни в качестве доктора наук.
            p
              | "Это своего рода вызов, который определил всю карьеру Стивена Янтиса", - говорит Андерсон, который остался в Институте Джона Хопкинса еще на один год, чтобы закончить это исследование и сопутствующие проекты. "Превосходный экспериментатор с интересом к когнитивной неврологии, Стив мог умело изолировать и отследить когнитивный процесс в мозге. Этот проект является отражением того, кем он был как ученый и того влияния, которое он оказал на меня, будучи моим наставником. Это наследие поистине замотивировало всех нас во чтобы то ни стало завершить этот проект".
          .text-us.invisible
            p
              | 2 The human brain is wired to pay attention to previously pleasing things—a finding that could help explain why it's hard to break bad habits or stick to New Year's resolutions.
            p
              | 2 In the new issue of Current Biology, Johns Hopkins University neuroscientists demonstrate for the first time that when people see something associated with a past reward, their brain flushes with dopamine—even if they aren't expecting a reward and even if they don't realize they're paying it any attention. The results suggest we don't have as much self-control as we might think.
            p
              | "We don't have complete control over what we pay attention to," said senior author Susan M. Courtney, a professor in JHU's Department of Psychological and Brain Sciences. "We don't realize our past experience biases our attention to certain things."
            p
              | could be why it's so hard for people to break the cycle of addiction and why dieters keep thinking about fattening food when they're trying to eat better.
            p
              | "I could choose healthy food or unhealthy food, but my attention keeps being drawn to fettuccini Alfredo," Courtney said. "What we tend to look at, think about, and pay attention to is whatever we've done in the past that was rewarded."
            p
              | For their study, the researchers asked 20 participants to find red and green objects on a computer screen filled with different colored objects. Participants got $1.50 for finding red objects and 25 cents for finding green ones. The next day, while brain scans (positron emission tomography, or PET scans) were conducted, researchers asked participants to find certain shapes on the screen. Color no longer mattered and there was no reward involved. But when a red object appeared, participants automatically focused on it and a particular part of their brain involved in attention filled with dopamine, a brain chemical proven to be released when we receive rewards.
            p
              | People in the study found the shapes they were looking for; they were just slower doing it. The previously rewarded "red" distracted them.
            p
              | "What's surprising here is people are not getting rewarded and not expecting a reward," Courtney said. "There's something about past reward association that's still causing a dopamine release. That stimulus has become incorporated into the reward system."
            p
              | Some of the test subjects were more distracted by the previously rewarded red than others. Those who were most distracted had the most elevated dopamine levels while those who were better able to focus on the task at hand appeared to have suppressed any release of dopamine.
            p
              | Generally speaking, distractions tend to be bigger for people prone to addiction and smaller for people who are successful abstainers and people who are depressed and not caring about rewards, Courtney said.
            p
              | The findings suggest there could be a way to pharmaceutically curb these neurochemical distractions—a potential benefit for addicts, dieters, and those with other problem behaviors.
            p
              | Courtney's co-authors are postdoctoral fellow Brian A. Anderson; School of Medicine assistant professor Hiroto Kuwabara; School of Medicine professor Dean F. Wong; former research assistant Emily G. Gean; associate professor of radiology Arman Rahmin; School of Medicine assistant professor James R. Brasic; research and clinical fellow Nobel George; senior clinical research fellow Boris Frolov and Steven Yantis, a professor in the Department of Psychological and Brain Sciences who died of cancer in 2014.
            p
              | When Yantis died, Courtney and students in the Yantis lab felt strongly that his work had to continue. Courtney, who Yantis recruited to Johns Hopkins, took on his research program and "adopted" his students into her lab. Over the past year, their combined teams have worked to finish Yantis' final projects and launch new ones that combine his ideas with Courtney's. This paper's lead author, Brian Anderson, was a graduate student in the Yantis lab and now works for Courtney as a postdoctoral researcher.
            p
              | "This is the kind of challenge that defined the career of Steven Yantis," said Anderson, who stayed at Johns Hopkins for an extra year to finish this study and related projects. "A brilliant experimentalist with interests in cognitive neuroscience, Steve had a real knack for elegantly isolating a cognitive process in the brain. This project is a reflection of who he was as a scientist and the impact that had on me through his mentorship. That legacy really motivated all of us to see this project through."
        // article-2
        // End of 2nd article
    // article-area
    // general-content
    .right-wing
      img(src='img/right-wing.png', alt='')
    footer.footer
      .footer-wrapper
        h2.title Как со мной связаться
        ul.contacts
          li.contact
            a.facebook(href='http://www.facebook.com/en.mentelibera', target='_blank')
              i.fa.fa-facebook-square(aria-hidden='true')
              |   /en.mentelibera
          li.contact
            a.linkedin(href='https://ru.linkedin.com/in/vladimir-ushakov', target='_blank')
              i.fa.fa-linkedin-square(aria-hidden='true')
              |   linkedIn
          li.contact
            a.phone(href='https://spb.hh.ru/resume/26a78bbaff035163320039ed1f77706b755541', target='_blank')
              i.fa.fa-circle(aria-hidden='true')
              |   HeadHunter
    script(src='js/dialog.js')
